/* Base Application Styles */
/* primary color: #0a264b */
/* navigation background-color: #0a264b */
/* navigation active-color: #2e79dc */
/* General */
body {
  color: #000;
  background: #f2f4f6;
  /*background: url('../images/background.jpg');*/
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 12px;
  font-family: 'Roboto';
}

/*@font-face {
    font-family: 'Brandon-Med';
    src: url('../fonts/Brandon_med.otf');
}*/

.label-active {
  background-color: #45c10f;
  padding: 4px 15px;
  font-weight: 400;
  color: #fff;
  border-radius: 5%;
}
.label-inactive {
  background-color: #c11d0f;
  padding: 4px 9px;
  font-weight: 400;
  color: #fff;
  border-radius: 5%;
}
.label-list-placeholder{
  color: rgba(0, 0, 0, 0.298039);
  position: relative;
  display: block;
  top: 28px;
  font-weight: 600;
}

.control-label-inactive{
  color: #a9abae !important;
}

/* HEADER */
.v-header-bg{
  padding: 0;
}
.v-header-image{
  padding: 15px 25px;
  text-align: center;
  margin: auto;
}
.v-header-image > img{
  width: 150px;
}
.header-icon-menu > button > div > svg{
  color: #fff !important;
}
.header-container{
  background-color: #0a264b !important;
  box-shadow: none !important;
}
.img-header{
  width: 81px;
  padding: 8px;
  margin: 0 0 4px 5px;
}

/* Navigation Bar */
.nav-fixed{
  position: fixed;
  background-color: #d32f2f;
  height: 100vh;
  padding: 0;
  width: 200px;
}
@media (min-width: 1800px) {
  .nav-fixed{
    position: fixed;
    background-color: #0a264b;
    height: 100vh;
    padding: 0;
    width: 270px;
  }
}
.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-stacked > li + li {
  margin: 0 !important;
}
.nav-bar li{
  margin: 0;
}
.nav-bar li a{
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px 12px 30px;
  color: #fff;
  width: 100%;
}
.nav-bar li:hover {
  border-left: 4px solid #fff;
}
.nav-bar li:hover a{
  text-decoration: none;
  color: #d32f2f;
  cursor: pointer !important;
  padding: 12px 15px 12px 26px !important;
}
.nav-bar li:hover .nav-icon{
  color: #d32f2f !important;
  cursor: pointer !important;
}
.nav-bar li.active > a {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: #d32f2f !important;
  border-left: 4px solid #fff;
  font-weight: 800;
  padding: 12px 15px 12px 26px !important;
}
.nav-bar li.active > a > .nav-icon{
  color: #d32f2f !important;
}
.nav-bar li.active:hover {
  border-left: none !important;
}
.nav-icon{
  margin: -5px 10px 0 0;
  float: left;
  color: #fff !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #fff;
}

.nav-scroll {
  position: relative;
  display: block;
  overflow: auto;
 /*height: 457px; */
}


.dropdown-menu {
  left: -4px;
  min-width: 200px !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0 !important;
  margin: -2px 0 0 0 !important;
}
.nav-bar li.active > .dropdown-menu{
  left: 0 !important;
}
.dropdown-menu > li > a > .nav-icon-sub{
  margin: -3px 11px 0 0;
  float: left;
  color: #9c9c9c !important;
}
.dropdown-menu > li.active > a > .nav-icon-sub{
  margin: -3px 11px 0 0;
  color: #0a264b !important;
  float: left;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #eee;
}
.dropdown-menu {
  left: -4px;
  min-width: 200px !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0 !important;
  margin: -2px 0 0 0 !important;
}
.dropdown-menu > li > a {
  color: #9c9c9c !important;
}
.dropdown.active .nav-icon{
  color: #0a264b !important;
}
.dropdown-menu > .active > a {
  border-left: none !important;
}
.dropdown-menu > li:hover {
  border-left: none !important;
}
/*.nav-active:hover{
  border-left: none !important;
}*/
/*.nav-active{
  color: #0a264b !important;
  border-left: 4px solid #0a264b;
  padding: 15px 15px 15px 26px !important;
}*/
/*.nav-active > .nav-icon{
  color: #0a264b !important;
}*/



/* FOOTER */
.footer-container {
  position: absolute;
  width: 100%;
  bottom: 2px;
}
.footer-btn{
  position: relative;
  float: left;
  width: 20%;
  margin: 5px;
  bottom: 0;
  text-align: center;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.footer-btn:hover {
  background-color: #424242;
  cursor: pointer;
}
.footer-vertical-separator{
  border-left: 1px solid #eee;
}
.footer-left {
  margin-left: 25px;
}
.footer-icon{
  width: 18px !important;
  height: 18px !important;
  margin: 11px 0 0 0;
  color: #d32f2f !important;
}


/* CONTAINERS */
.v-main-container{
  padding: 30px 50px;
}
@media (max-width: 991px) {
  .v-main-container{
    padding: 30px 10px;
  }
}
@media (min-width: 1400px) {
  .v-main-container{
    padding: 30px 50px 0 0;
  }
}
.content-field-holder{
  float: left !important;
  width: 100%;
}
.col-no-padding{
  padding: 0;
}
.content-container{
  padding: 15px 10px;
  box-shadow: none !important;
  font-family: 'Roboto';
}
.content-divider{
  margin: 90px 0px 0px !important;
}
.login-component {
  position: fixed;
  top: 25%;
  left: 48%;
  margin-top: -50px;
  margin-left: -100px;
  bottom: 0;
}
.login-img{
  width: 250px;
  display: block;
}
.login-button{
  margin: 15px 0 0 0;
}
.info-container{
  position: relative;
}
.info-container > label {
  display: block;
  color: #777;
  font-weight: 300 !important;
}
.info-build{
  display: block;
  font-size: 12px;
  line-height: 8px;
  color: #9e9e9e;
  margin-top: 4px;
  font-weight: 100;
}


/* FIELD COMPONENTS */
.text-area-holder-default {
  width: 256px;
}
.text-area-holder-regular {
  width: 350px;
}
.text-area-holder-wide {
  width: 400px;
}
.text-area-content-regular{
  width: 350px !important;
}
.text-area-content-wide{
  width: 400px !important;
}

.text-area-content-full{
  width: 100% !important;
}
@media (max-width: 767px) {
  .text-area-holder-default,
  .text-area-holder-regular,
  .text-area-holder-wide,
  .text-area-content-regular,
  .text-area-content-wide {
    width: 100% !important;
  }
}
.textfield-default{
  width: 256px;
  display: block !important;
}
.textfield-regular{
  width: 350px !important;
  display: block !important;
}
@media (max-width: 767px) {
  .textfield-regular,
  .textfield-default,
  .datefield-default > div:first-child {
    width: 100% !important;
  }
}
.text-remaining{
  color: #969696;
  float: right;
}
.dropdownButton-fixed-300 {
  width: 300px !important;
  margin: 15px 0px 0px -24px;
  display: block !important;
}
.dropdownButton-fixed-300 >div > button > div {
  margin: none !important;
}
.dropdownButton {
  width: 100% !important;
  margin: 15px 0px 0px -24px;
}
.dropdownButton >div > button > div {
  margin: none !important;
}
@media (max-width: 767px) {
  .dropdownButton-fixed-300 {
    width: 100% !important;
    margin: 0;
    display: block;
  }
  .dropdownButton-fixed-300 > div > div:nth-child(2){
    padding: 0 !important;
  }
  .dropdownButton-fixed-300 > div > div:nth-child(4){
    margin: 0 !important;
  }
  .dropdownButton-fixed-300 > div > button{
    margin: 0 !important;
  }
  .dropdownButton {
    width: 100% !important;
    margin: 0;
    display: block;
  }
  .dropdownButton > div > div:nth-child(2){
    padding: 0 !important;
  }
  .dropdownButton > div > div:nth-child(4){
    margin: 0 !important;
  }
  .dropdownButton > div > button{
    margin: 0 !important;
  }
}
.checkBox{
  margin: 25px 0 10px 0;
}
.chip-data{
  margin: 4px 2px 10px  !important;
  float: left;
}
.chip-holder{
  display: flex;
  flex-wrap: wrap;
}


/* BODY CONTENT */
.content-heading {
  font-size: 30px;
  font-family: Roboto;
  font-weight: 100;
  position: absolute;
  top: 0;
  color: #adadad;
}
.content-record-label{
  position: absolute;
  top: 78px;
  color: #a9a9a9;
  font-weight: 200;
}
.subcontent {
  border: 1px dashed #c1c1c1;
  border-radius: 3%;
  padding: 0 15px 12px;
  margin: 5px 0;
}
.search-form{
  position: absolute;
  top: 54px;
  right: 190px;
}
@media (max-width: 767px) {
  .search-form{
    position: absolute;
    top: 54px;
    right: 96px;
  }
}
.search-button{
  margin: 7px 4px 0 0 !important;
}
.search-icon{
  color: #adadad !important;
}
.close-button{
  margin: 7px 4px 0 0 !important;
  z-index: 99;
}
.close-icon{
  color: #0a264b !important;
}
.search-bar {
  height: 44px;
  padding: 0 28px 0 5px;
  margin: 8px 10px 0 0;
  font-size: 18px;
  display: inline-block;
  font-family: "Roboto";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}
.search-bar:focus:hover {
  border-bottom: 1px solid #BBB;
}
.search-bar:focus {
  width: 190px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

.icon-action{
  color: #adadad !important;
}
.icon-action-active{
  color: #d32f2f !important;
}
.checkstatus-container{
  position: absolute;
  top: 60px;
  right: 110px;
}
@media (max-width: 767px) {
  .checkstatus-container{
    position: absolute;
    top: 60px;
    right: 16px;
  }
}
.pageview-container{
  position: absolute;
  top: 60px;
  right: 152px;
}
@media (max-width: 767px) {
  .pageview-container{
    position: absolute;
    top: 60px;
    right: 56px;
  }
}

/* SPACING AND INDENTIONS */
.indent-right-50{
  margin-right: 50px;
}
@media (max-width: 767px) {
  .indent-right-50 {
    margin-right: 0 !important;
  }
}


/* FLOATING BUTTON */
.v-floating-action-circle{
  top: 25px;
  position: absolute;
  right: 20px;
  margin: 35px;
  background-color: #d32f2f;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 50%;
  padding: 3px;
}
.v-floating-action-circle > div > button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}
.v-floating-action-circle > button {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}

.v-floating-return-circle{
  top: 37px;
  position: absolute;
  left: 5px;
  margin: 35px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 50%;
  padding: 0px;
}
.v-floating-return-circle > div > button {
  width: 25 !important;
  height: 25 !important;
  padding: 0 !important;
}
.v-floating-return-circle > button {
  width: 25 !important;
  height: 25 !important;
  padding: 0 !important;
}
.floating-return-button-icon{
  margin: 0;
  color: #0a264b !important;
}

.floating-return-button{
  bottom: 96px;
  position: fixed;
  right: 34px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  padding: 0px;
  z-index: 999;
}

.floating-button{
  bottom: 0px;
  position: fixed;
  right: 0;
  margin: 30px;
  background-color: #0a264b;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 50%;
  padding: 5px;
  z-index: 999;
}
.floating-button-link{
  line-height: 0 !important;
  text-decoration: none;
}
.floating-button-icon{
  margin: 0;
  color: #fff !important;
}

/* TABLES */
.list-table td:first-child{
  width: 20px;
}
.list-table th:nth-child(2){
  padding-left: 22px;
}
.list-table th{
  color: #888;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}
.list-table th > label{
  cursor: pointer;
  font-weight: 400;
}
.list-table th:hover label, .list-table th .active{
  cursor: pointer;
  font-weight: 400;
  color: #d32f2f !important;
}
.list-table th:nth-child(2){
  text-align: left;
}
.list-table .sorticon{
  margin-left: 14px !important;
}
.list-table td:nth-child(2){
  text-align: left;
}
.list-table td{
  border-top: none !important;
  padding: 4px !important;
  vertical-align: middle !important;
  color: #444;
  text-align: center;
}
.list-table td > img{
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 5px;
  border-radius: 50%;
}

/* PAGINATION */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus,
.pagination > .active > span:focus{
  background-color: #d32f2f;
  border-color: #d32f2f;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #3a3a3a;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

/* MODALS */
.modal-container-100 {
  width: 100%;
  max-width: none !important;
}
.modal-container-80 {
  width: 80%;
  max-width: none !important;
}
.modal-container-60 {
  width: 60%;
  max-width: none !important;
}
.item-image-box {
  position: relative;
  background-color: #fbfbfb;
  width: 360px;
  height: 400px;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
@media (max-width: 767px) {
  .item-image-box {
    position: relative;
    background-color: #fbfbfb;
    width: 100%;
    height: 400px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
  }
}
.modal-image-box {
  position: absolute;
  top: 110px;
  left: -80px;
  background-color: #fbfbfb;
  width: 360px;
  height: 400px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 3px 5px 10px 0px;
}
.modal-image-preview {
  margin: auto;
  max-width: 300px;
}
.modal-image-preview > img {
  margin: 15px auto;
  max-width: 300px;
  height: 250px;
  width: 100%;
}
.modal-image-info{
  position: relative;
  width: 260px;
  margin: auto;
}
.modal-image-info > div{
  float: left;
  margin: 4px 0 0 5px;
}
.modal-image-info > svg{
  float: left !important;
}
.modal-image-button {
  position: relative;
  top: 6px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  width: 187px;
}
.modal-image-button > form > button {
  border: 1px solid #e54f10 !important;
  z-index: 99;
}

.modal-content-title{
  margin: 10px 0 10px -50px;
}
.modal-content-title > h3{
  color: #8e8d8d;
}

@media (max-width: 767px) {
  .modal-fullmode-xs > div > div{
    width: 100% !important;
    max-width: none !important;
    margin: none !important;
  }
}


/* FLOATS */
.pull-right-responsive {
  float: right !important;
}
.pull-left-responsive {
  float: left !important;
}
@media (max-width: 767px) {
  .pull-right-responsive {
    float: none !important;
  }
  .pull-left-responsive {
    float: none !important;
  }
}

/* LOADING INDICATOR */
.refresh-loading-container {
  width: 100%;
  position: fixed;
  margin: auto;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.77);
  z-index: 99;
}
@media (max-width: 991px) {
  .refresh-loading-container {
    width: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 99;
  }
}
@media (min-width: 1800px) {
  .refresh-loading-container {
    width: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 269px;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.77);
    z-index: 99;
  }
}
.refresh-loader{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}
@media (max-width: 991px) {
  .refresh-loader{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

/* PAGE TRANSITIONS */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}
